body {
    background-image: url(360_F_302040655_IEH9RyDlu7LL8YCLjgL1IskhrpOlmlSv.jpg);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.heading {
    margin-top: 0;
    color: rgb(213, 69, 170);
    font-size: 70px;
}

.time{
color: brown;
font-size: 30px;
}
